<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>The_shop</title>
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
</head>
<body>

	<header class="header">
		<div class="container">
			<div class="heder_block">
				<img src="img/the_shop_logo.svg" alt="Shop`s logo" class="Shop_logo"></img>
				<a href="http://oggettoweb.ru" class="Oggeto_logo">
					<img src="img/oggetto_logo.svg" alt="Oggeto`s logo"></img></a>
					<h1 class="Phone_contact">+7 (812) 2•12•85•06</h1>
				</div>
			</div>
		</header>

		<section>
			<div class="Line_under_header">
			</div>
			<div class="container">
				
				<form class="Form-wrapper">
					<input class="Search" type="text" required>
				</form>
				<img src="img/Search.svg" class="Icon_search"></img>

				<% const Main_navigation = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP'] %>
				<nav>
					<ul class="Main_navigation">
						<% Main_navigation.forEach(function(navigation) { %>
                        <li>
                <a href="#"><%= navigation %></a>
            </li>
            <% }); %>
					</ul>
				</nav>

 <% const Local_navigation = ['LISP', 'Одежда', 'Футболки'] %>
				<ul class="Main_navigation">
					<div class="Local_navigation">
						<% Local_navigation.forEach(function(item, index) { %>
						<li>
							 <a href="#"><%= item %></a>
							  <% if(index < (Local_navigation.length - 1)) { %>
           <span>/</span>
        <% } %>
						</li>
						<% }); %>
					</div>
				</ul>

				<div class="Tshitrs">
					<img src="img/tshirt_white.jpg" class="Color_one"></img>
					<img src="img/tshirt_green.jpg" class="Color_two_invisible"></img>
					<img src="img/tshirt_yellow.jpg" class="Color_three_invisible"></img>
				</div>

				<h2 class="Product_name">Футболка Alien technology</h2>
				<p class="Product_description">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия. </p> 
				<h3 class="Product_price">1500&#8381;</h3>
				<p class="Size">Размер: </p> 
				<div class="Size_line_block">
					<div class="Size_form_S">
						<div class="Size_sign">S</div>
					</div>
					<div class="Size_form_M active">
						<div class="Size_sign">M</div>
					</div>
					<div class="Size_form_L">
						<div class="Size_sign">L</div>
					</div>
				</div>
				<p class="Color">Цвет:</p> 

				<div class="Color_line_block">
					<div class="Change_color_one active"> </div>
					<div class="Change_color_two"> </div>
					<div class="Change_color_three"> </div>
				</div>
				<form>
					<Button class="Button_buy">Купить</Button>
				</form>

				<div class="Sign_line_block">
					<img class="Sign_heart" src="img/heart2.svg" alt="Heart"></img>
					<a class="Hold_over" href="#">Отложить на потом</a>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="Footer_title_navigation">
					<p class="Footer_p"> Сервис и поддержка </p>
					<p class="Footer_title_navigation2 Footer_p"> О компании </p>
				</div>
              
              <% const Service_Support = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка'] %>
				<div class="Service_Support">
					<ul class="Footer_navigation">
						<% Service_Support.forEach(function(point) { %>
						<li>
							<a href="#" class="menu__link"><%= point %></a>
						</li>
						<% }); %>
					</ul>

					 <% const Column2_Service_Support = ['Способы оплаты', 'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы'] %>
					<div class="Column2_Service_Support">
						<ul class="Footer_navigation">
							<% Column2_Service_Support.forEach(function(point) { %>
							<li>
							   <a href="#"><%= point %></a>
							</li>
							<% }); %>
						</ul>
					</div>
					<% const About_company = ['О нас', 'Контакты', 'Вакансии', 'Партнерам'] %>
					<div class="About_company">
						<ul class="Footer_navigation">
							<% About_company.forEach(function(point) { %>
							<li>
					<a href="#"><%= point %></a>
							</li>
							<% }); %>
						</ul>
					</div>
					<% const Column2_About_company = ['Сертификаты', 'Преимущества', 'Наши скидки'] %>
					<div class="Column2_About_company">
						<ul class="Footer_navigation">
							 <% Column2_About_company.forEach(function(point) { %>
							<li>
								 <a href="#"><%= point %></a>
							</li>
							  <% }); %>
						</ul>
					</div>
						
						<div class="Bonuses">
							<ul class="Footer_navigation">
								<li>
									 <a href="#"><img class="Delivery_log" src="img/delivery.svg"></img><span class="Fix_height"> бесплатная доставка от 4000 ₽ </span> </a>
									</li>
									<li>
									 <a href="#"><img class="Heart_log" src="img/heart.svg"></img><span class="Fix_height">пробники в подарок при каждой покупке</span></a>
									</li>
									<li>
									 <a href="#"><img class="Cup_log" src="img/cup.svg"></img><span class="Fix_height">акции и подарки за покупку</span></a>
								</li>
							</div>
						</ul>
						<ul class="Social_network_signs">
							<li>
								<a href="#">
									<img class="Facebook_log" src="img/facebook.svg"></img></a>
								</li>
								<li><a href="#">
									<img class="Twitter_log" src="img/twitter.svg"></img></a>
								</li>
								<li><a href="#">
									<img class="Instagram_log" src="img/instagram.svg"></img></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="Line_inside_footer"></div>
					<div class="container">
					<% const InformationAboutShop = ['2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.', 'Все права защищены. Доставка по всей России!'] %>
					<ul class="Footer_navigation">
						 <% InformationAboutShop.forEach(function(point) { %>
						<li>
							<p class="Footer_p_2"><%= point %></p>
						</li>
						<% }); %>
					</ul>
				</div>
				</div>
			</footer>

			<script src="js/scripts.js"></script>
		</body>
		</html>
