<!doctype html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="img/flower.png" type="image/png">
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>The_shop</title>
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body id="doc">

	<header class="header">
		<div class="container">
			<div class="header-block">
				<div class="shop-logo" > 
					<svg class= "shop-logo__svg">
						<a class="shop-logo__link" href="http://oggettoweb.ru">
					<%-include('img/the_shop_logo.svg')%>
                     </a></svg>  </div>
                    <div class="oggeto-logo">
				
					<svg class="oggeto-logo__svg">
						<a class="oggeto-logo__link" href="http://oggettoweb.ru"> 
					<%-include('img/oggetto_logo.svg')%>
                    </a> </svg> 
                 </div> 
					<p class="phone">+7 (812) 2•12•85•06</p>
				</div>
			</div>
		</header>

		<section class="section">
			<div class="line-under-header"></div>
			<div class="container">
				<form class="search" name="Search">
					<input class="search__input" type="text" required>
				</form>
				<img src="img/search.svg" alt="Search" class="search__icon-search">

				<% const mainNavigation = [' ', 'OCaml', 'JavaScript', 'Python', 'PHP'] %>
				<nav class="nav">
					<ul class="main-navigation">
						<% mainNavigation.forEach(function(navigation, index) { %>
						<li class="main-navigation__navigation">
							<a class="main-navigation__link" href="#"><%= navigation %></a>
							<% if (index == 0) {%><b>LISP</b><%}%>
						</li>
						<% }); %>
					</ul>
				</nav>

				<% const localNavigation = ['LISP', 'Одежда', ' '] %>

				<ul class="local-navigation">
					<% localNavigation.forEach(function(item, index) { %>
					<li class="local-navigation__navigation">

						<a class="local-navigation__link" href="#"><%= item %></a>
						<% if(index < (localNavigation.length - 1)) { %>
						<span class="local-navigation__slash">/</span>
						<% } %>
						<% if (index == 2) {%><span class="b">Футболки</span><%}%>
					</li>
					<% }); %>
				</ul>


				<div class="tshirts">
					<img id="productPicture" src="img/tshirt_white.jpg" alt="Tshitr">
				</div>

				<h2 class="product-name">Футболка Alien technology</h2>
				<p class="product-description">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия. </p> 
				<div class="price">
				<span class="price__val" id="priceVal">1500</span><span class="price__currency">&#8381;</span>
				<p class="product-size">Размер: </p> 
					<ul id="sizeList" class="size-line-block">
            <li class="product-prop size-form" data-type="size" data-value="s">
            	<p class="size-form__size-sign" data-type="size" data-value="s">S</p></li>
            <li class="product-prop size-form" data-type="size" data-value="m">
            	<p class="size-form__size-sign" data-type="size" data-value="m">M</p></li>
            <li class="product-prop size-form" data-type="size" data-value="l">
            	<p class="size-form__size-sign" data-type="size" data-value="l">L</p></li>
        			</ul>
				<p class="color-line-block__color">Цвет:</p> 
				<ul id="colorList" class="color-line-block">
					<li class="change-color product-prop change-color__1" data-type="color" data-value="white"> </li>
					<li class="change-color product-prop change-color__2" data-type="color" data-value="green"> </li>
					<li class="change-color product-prop change-color__3" data-type="color" data-value="yellow"> </li>
				</ul>

				<form class="button">
					<button class="button-buy">Купить</button>
				</form>

				<div class="sign-line-block">
					<img class="sign-line-block__sign-heart" src="img/heart2.svg" alt="Heart">
					<a class="sign-line-block__hold-over" href="#">Отложить на потом</a>
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="footer__title-navigation">
					<p class="footer__p"> Сервис и поддержка </p>
					<p class="footer__title-navigation2 footer__p"> О компании </p>
				</div>
				
				<% const serviceSupport = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка'] %>
				<div class="footer__service-support">
					<ul class="footer-navigation">
						<% serviceSupport.forEach(function(point) { %>
						<li class="footer-navigation__point">
							<a href="#" class="footer-navigation__link"><%= point %></a>
						</li>
						<% }); %>
					</ul>

					<% const column2ServiceSupport = ['Способы оплаты', 'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы'] %>
					<div class="footer__column2-service-support">
						<ul class="footer-navigation">
							<% column2ServiceSupport.forEach(function(point) { %>
							<li class ="footer-navigation__point">
								<a href="#" class="footer-navigation__link"><%= point %></a>
							</li>
							<% }); %>
						</ul>
					</div>
			
					<% const aboutCompany = ['О нас', 'Контакты', 'Вакансии', 'Партнерам'] %>
					<div class="footer__about-company">
						<ul class="footer-navigation">
							<% aboutCompany.forEach(function(point) { %>
							<li class="footer-navigation__point">
								<a href="#" class="footer-navigation__link"><%= point %></a>
							</li>
							<% }); %>
						</ul>
					</div>
					<% const column2AboutCompany = ['Сертификаты', 'Преимущества', 'Наши скидки'] %>
					<div class="footer__column2-about-company">
						<ul class="footer-navigation">
							<% column2AboutCompany.forEach(function(point) { %>
							<li class ="footer-navigation__point">
								<a href="#" class="footer-navigation__link"><%= point %></a>
							</li>
							<% }); %>
						</ul>
					</div>
					
					
					<ul class="bonuses">
						<li class="bonuses__navigation">
							<a class="bonuses__link" href="#">
								<img class="bonuses__delivery-log" alt="Deliverylog" src="img/delivery.svg">
								<span class="bonuses__fix-height"> бесплатная доставка от 4000 ₽ </span> </a>
							</li>
							<li class="bonuses__navigation">
								<a class="bonuses__link" href="#"><img class="bonuses__heart-log" alt="Heartlog" src="img/heart.svg"><span class="bonuses__fix-height">пробники в подарок при каждой покупке</span></a>
							</li>
							<li class="bonuses__navigation">
								<a class="bonuses__link" href="#"><img class="bonuses__сup-log" alt="Cuplog" src="img/cup.svg"><span class="bonuses__fix-height">акции и подарки за покупку</span></a>
							</li>
						</ul>

						<ul class="social-network-signs">
							<li class="social-network-signs__signs">
								<a class="social-network-signs__link" href="#">
									<img class="social-network-signs__facebook-log" alt="Facebook" src="img/facebook.svg"></a>
								</li>
								<li class="social-network-signs__signs">
									<a class="social-network-signs__link" href="#">
										<img class="social-network-signs__twitter-log"  alt="Twitter" src="img/twitter.svg"></a>
									</li>
									<li class="social-network-signs__signs">
										<a class="social-network-signs__link" href="#">
											<img class="social-network-signs__instagram-log" alt="Instagram" src="img/instagram.svg"></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="line-inside-footer "></div>
							<div class="container">
								<% const InformationAboutShop = ['2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.', 'Все права защищены. Доставка по всей России!'] %>
								<ul class="footer-navigation">
									<% InformationAboutShop.forEach(function(point) { %>
									<li class="footer-navigation__point">
										<p class="footer-p-2"><%= point %></p>
									</li>
									<% }); %>
								</ul>
							</div>
						</footer>


						<script  type="module" src="js/scripts.js"></script>
					</body>
					</html>
